In [4]:
# df.loc["row","col"]
# syntax if u want both row and col
# df.loc[df[""]][""]

In [5]:
import pandas as pd

In [9]:
df = pd.read_csv("poke.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'poke.csv'

In [ ]:
df.head()

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
# to count values in file -> rows & cols

# df.count()
# df.info()
df.shape

(800, 12)

In [ ]:
# name of max speed
df.loc[df["Speed"]==45]["Name"]

0                  Bulbasaur
13                  Caterpie
45                Wigglytuff
53                   Venonat
73                   Machoke
82                     Golem
88                 Magnemite
93                      Seel
113                  Marowak
166                Chikorita
194                  Flaaffy
196    AmpharosMega Ampharos
221                Dunsparce
226                 Granbull
242                Octillery
276                  Torchic
380                  Armaldo
385                  Shuppet
399                   Sealeo
448                    Shinx
481                Chingling
529                 Dusknoir
557                    Tepig
560                 Oshawott
594               Conkeldurr
598                    Throh
619                  Crustle
635                  Gothita
756                    Inkay
Name: Name, dtype: object

In [ ]:
# hp where name = Bulbasaur
df.loc[
    df["Name"]=="Bulbasaur"
]["HP"]

0    45
Name: HP, dtype: int64

In [ ]:
# max & min value by sorting

# df.sort_values(by=["Speed"],ascending=False)
df.sort_values(by=["Speed"])

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary
495,446,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
428,386,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,50,150,3,True
315,291,Ninjask,Bug,Flying,61,90,45,50,50,160,3,False
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True

In [ ]:
# Speed of most common name

# df["Name"].describe()
df["Name"].mode()
# df.loc[df["Name"]==df["Name"].mode()]["Speed"].values[0]
# df.loc[df["Name"]==df["Name"].mode()]["Speed"]
df['Speed'].value_counts().head()

50    46
60    44
70    37
65    36
30    35
Name: Speed, dtype: int64

In [ ]:
# slowest speed of hp>50 & name also
# df.loc[df['HP']>50].sort_values(by='Speed').head(1)
df.loc[df['HP']>50].sort_values(by='Speed').head(1)['Name']

495    Munchlax
Name: Name, dtype: object

In [8]:
# setting a column as index

df.set_index('Num')

NameError: name 'df' is not defined

In [ ]:
# create col ratio which is ratio of attack / speed

df['ratio'] = df['Attack'] / df['Speed']
df.head()

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary,ratio
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1.088889
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,1.033333
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,1.025000
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,1.250000
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,0.800000

In [ ]:
# name with highest ratio

df.loc[df['ratio'].max()]['Name']

'Kakuna'

In [ ]:
# no of names of ratio > 5
# df.loc[df['ratio']>5].count()
df.loc[df['ratio']>5].shape

(7, 13)

In [ ]:
# max speed of ratio > 5
df.loc[df['ratio']>5].sort_values(by='Speed',ascending=False)
# df.loc[df['ratio']>5,'Speed'].max()

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary,ratio
585,526,Gigalith,Rock,NaN,85,135,130,60,80,25,5,False,5.40
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,6.00
584,525,Boldore,Rock,NaN,70,105,105,50,40,20,5,False,5.25
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False,6.75
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,10.00
486,438,Bonsly,Rock,NaN,50,80,95,10,45,10,4,False,8.00
495,446,Munchlax,Normal,NaN,135,85,40,40,85,5,4,False,17.00